@font-face {
    font-family: "iconfont"; /* Project id 3169421 */
    /* Color fonts */
    src:
            url('//at.alicdn.com/t/font_3169421_rbfuv7qn7f.woff2?t=1646992226517') format('woff2'),
            url('//at.alicdn.com/t/font_3169421_rbfuv7qn7f.woff?t=1646992226517') format('woff'),
            url('//at.alicdn.com/t/font_3169421_rbfuv7qn7f.ttf?t=1646992226517') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bs-type:before {
    content: "\e693";
}

.bs-xuewei:before {
    content: "\e625";
}

.bs-ziwojieshao:before {
    content: "\e7cf";
}

.bs-school:before {
    content: "\e61f";
}

.bs-kecheng:before {
    content: "\e66f";
}

.bs-lunwen:before {
    content: "\e607";
}

.bs-keyanchengguohuojiang:before {
    content: "\e612";
}

.bs-zhubian:before {
    content: "\e65e";
}

.bs-yanjiufangxiang:before {
    content: "\e63f";
}

.bs-youbian:before {
    content: "\ec80";
}

.bs-dianhua:before {
    content: "\e61b";
}

.bs-major:before {
    content: "\e62e";
}

.bs-icon-test:before {
    content: "\e689";
}

.bs-youxiang:before {
    content: "\e908";
}

.bs-zhongwenmingcheng:before {
    content: "\e800";
}

.bs-zhicheng:before {
    content: "\e68f";
}

.bs-pinglun:before {
    content: "\e891";
}

.bs-dianzan:before {
    content: "\ec7f";
}

.bs-tuichu:before {
    content: "\e892";
}

.bs-zhuce:before {
    content: "\e642";
}

.bs-zhuce1:before {
    content: "\e6b3";
}

.bs-nianling:before {
    content: "\e65a";
}

.bs-nianling1:before {
    content: "\e61d";
}

.bs-tongxingbie:before {
    content: "\e619";
}

.bs-quxiaofabu:before {
    content: "\e66e";
}

.bs-fabu:before {
    content: "\e633";
}

.bs-zancun:before {
    content: "\e622";
}

.bs-biaoti:before {
    content: "\e62b";
}

.bs-mima:before {
    content: "\e620";
}

.bs-yonghuming:before {
    content: "\e606";
}
