@font-face {
    font-family: "iconfont"; /* Project id 3169421 */
    src: url('//at.alicdn.com/t/font_3169421_h1x8ndiorj.woff2?t=1645250411967') format('woff2'),
    url('//at.alicdn.com/t/font_3169421_h1x8ndiorj.woff?t=1645250411967') format('woff'),
    url('//at.alicdn.com/t/font_3169421_h1x8ndiorj.ttf?t=1645250411967') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.share-pinglun:before {
    content: "\e891";
}

.share-dianzan:before {
    content: "\ec7f";
}

.share-tuichu:before {
    content: "\e892";
}

.share-zhuce:before {
    content: "\e642";
}

.share-zhuce1:before {
    content: "\e6b3";
}

.share-nianling:before {
    content: "\e65a";
}

.share-nianling1:before {
    content: "\e61d";
}

.share-tongxingbie:before {
    content: "\e619";
}

.share-quxiaofabu:before {
    content: "\e66e";
}

.share-fabu:before {
    content: "\e633";
}

.share-zancun:before {
    content: "\e622";
}

.share-biaoti:before {
    content: "\e62b";
}

.share-mima:before {
    content: "\e620";
}

.share-yonghuming:before {
    content: "\e606";
}
